<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let d of details" (click)="itemSelected(d)">
      <ion-label>
        <ion-text color="primary">
          <h3>{{d.ch_title}}</h3>
        </ion-text>
        <p>{{d.ch_dateadd}}</p>
      </ion-label>
      <ion-badge color="success">{{d.ch_view}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>